---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Requiem</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="bg-background text-foreground">
        <div>
            <div class="ps-12 pe-12 pt-3 pb-3 z-50 flex w-full top-0 lef-0">
                <div class="flex justify-between pt-1 pb-2 w-full max-w-7xl">
                    <div class="flex gap-12 items-center justify-center">
                        <a href="#" class="font-sans font-semibold text-xl align-middle">Requiem</a>
                        <div>
                            <div class="flex w-full flex-col items-center gap-4 lg:mx-auto lg:flex-row lg:gap-8">
                                <div class="relative">
                                    <div class="cursor-pointer py-2 text-[15px] font-semibold">Solutions</div>
                                </div>
                                <div class="relative">
                                    <div class="cursor-pointer py-2 text-[15px] font-semibold">Developers</div>
                                </div>
                                <div class="relative">
                                    <div class="cursor-pointer py-2 text-[15px] font-semibold">Company</div>
                                </div>
                                <div class="relative">
                                    <div class="cursor-pointer py-2 text-[15px] font-semibold">Docs</div>
                                </div>
                                <div class="relative">
                                    <div class="cursor-pointer py-2 text-[15px] font-semibold">Pricing</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex gap-3 mt-1 items-center">
                        <button
                            class="bg-background border border-input rounded-md text-text font-medium text-sm h-10 px-4 py-2 hover:bg-background/90 hover:text-fuchsia-300 hover:border-sky-800 transition-colors duration-200"
                        >
                            Contact sales
                        </button>
                        <button
                            class="bg-indigo-300 border border-indigo-400 rounded-md text-background font-medium text-sm h-10 px-4 py-2 hover:bg-black hover:text-indigo-200 transition-colors duration-300 drop-shadow-glow hover:scale-105 ease-in-out"
                        >
                            Try Requiem
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
